doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet", href="/css/styles.css")
  body
    .page-wrapper
      header.header
        div.container.navbar
          a.logo(href=isLoggedIn ? '/?auth=ok' : '/') Fotaza 2
          nav.nav
            a(href=isLoggedIn ? '/?auth=ok' : '/') Inicio
            a(href=isLoggedIn ? '/posts?auth=ok' : '/posts') Publicaciones
            a(href=isLoggedIn ? '/posts/new?auth=ok' : '/posts/new') Nueva publicación
            a(href=isLoggedIn ? '/search?auth=ok' : '/search') Buscar

            if isLoggedIn
              a(href="/auth/logout") Salir
            else
              a(href="/auth/login") Login

      main.container.main-content
        block content

      footer.footer
        div.container
          p Proyecto integrador Fotaza 2 - Programación Web II
          p Desarrollado por Gimenez Diego R. (Todos los derechos reservados)