extends ../layout

block content
  h1 Publicaciones

  section.cards
    each post in posts
      div.card
        h2= post.title
        p
          strong Autor:
          |  #{post.author}
        p
          strong Fecha:
          |  #{post.date}
        p= post.description
        a.btn(href=`/posts/${post.id}`) Ver detalle